.edit-profile-page {
    height: 100%;
    margin: 0;
}

.edit-profile-form {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: left;
}

.edit-profile-footer-separator {
    width: 1000px;
    min-width: 500px;
    border: 1px solid #BFBFBF;
}