.edit-product-page {
    height: 100%;
    margin: 0;
}

.edit-product-area {
    display: flex;
}

.edit-product-form {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: left;
}

.edit-product-inputs {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: left;
}

img {
    height: 300px;
    width: auto;    
    border-radius: 15px;
}

.edit-product-footer-separator {
    width: 1000px;
    min-width: 500px;
    border: 1px solid #BFBFBF;
}